.general_info_title{
    text-align: left;
    font-weight: 600;
    color: #FFFFFF !important;
    line-height: 1.2;
}

.general_info_text {
    font-size: 14px;
    color: #7a798c;
    line-height: 1.2;
    text-align: left;
}

.general_info_text span {
    color: #FFFFFF;
}
.profile_img{
    margin: 0;
}
.img_card{
    margin-top: 4%;
}
.downlaod_resume{
    text-decoration: none;
    float: left;
    margin-top: 1%;
}
.linkclass{
    margin-left: 10px;
    padding: 2px;
    margin: 0;
}
.top{
    margin-top: 2%;
}