.main_title {
    font-size: 38px;
    font-weight: 800;
    color: #fff;
    line-height: 0.75;
}
.Desc_Jumbo{
    background: #363A5F;
}

.skills{
    background: #4B3C94;
}
.row-inner{
    padding: 5%;
}