.no-padding{
 padding: 0px 8px;
}

.main_subtitle {
    font-size: 22px;
    font-weight: 500;
    color: #7a798c;
    line-height: 0.75;
    margin-top: 10%;
    text-align: left;
    margin-left: 1%;

}

.main_title {
    font-size: 53px;
    font-weight: 800;
    color: #100f3a;
    line-height: 0.75;
    margin-top: 3%;
    text-align: left;
}

.about_title{
    font-size: 30px;
    font-weight: 700;
    color: #100f3a;
    margin-top: 5%;
    text-align: left;
}
.container-fluid{
    margin-top: 7.2%;
    padding-left: 0px !important;
}

.about-row{
    background: #f5f0f0;
}