.no-padding{
 padding: 0px 8px;
}

.main_subtitle {
    font-size: 22px;
    font-weight: 500;
    color: #7a798c;
    line-height: 0.75;
    margin-top: 10%;
    margin-left: 1%;

}

.main_title {
    font-size: 53px;
    font-weight: 800;
    line-height: 0.75;
    margin-top: 3%;
}

.about_title{
    font-size: 30px;
    font-weight: 700;
    margin-top: 5%;
}
.container-fluid{
    margin-top: 7.2%;
    padding-left: 0px !important;
    text-align: center !important;
}

.about-row{
    background-color: #2C2F51 !important;
}

.Desc_Jumbo{
    background: #2C2F51 !important;
    color:#fff;
    /* -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777; */
}
.roboto{
    font-family: Roboto;
}

.container-fluid{
    color: #fff;
}
