.no-padding{
 padding: 0px 8px;
}

.main_subtitle {
    font-size: 22px;
    font-weight: 500;
    color: #7a798c;
    line-height: 0.75;
    margin-top: 2%;

}

.main_title {
    font-size: 61px;
    font-weight: 800;
    color: #100f3a;
    line-height: 0.75;
    margin-top: 1%;
}