.logo{
    font-size: 36px;
    font-weight: 800;
    color: #100f3a;
    margin-right: 48px;
    margin-top: -5px;
}

.logo span {
    color: #8583e1;
}
.bg-white {
    box-shadow: 0 8px 6px -6px black;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    }
}