.logo{
    font-size: 36px;
    font-weight: 800;
    color: #fff !important;
    margin-right: 48px;
    margin-top: -5px;
}

.logo span {
    color: #8583e1;
}
.bg-white {
    box-shadow: 0 8px 6px -6px black;
}
.nav-class{
    background: linear-gradient(45deg, #5C258D 0%, #4389A2 100%) !important;
    
}
.nav-link{
    color: #fff !important;
    text-decoration: none;
}
.nav-link:hover{
    color: #333 !important;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    }
}