.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}



.App-link {
  color: #09d3ac;
}


.super-container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-left: 40px;
  padding-bottom: 45px;
  padding-right: 41px;
  padding-top: 35px;
}